@import "./variables";

%btn {
  padding: 0.6rem 1rem;
  font-size: medium;
  border-radius: 5px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

